<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/css/style1.css" rel='stylesheet' >
<!--webfonts-->

<!--//webfonts-->

</head>
<body>
{% block content %}
<form action="/logon" method="post"><br>
{% endblock %}
        {% csrf_token %}
        <div style="text-align:center; vertical-align:middel;"><h3>{{ msg }}</h3></div><br>
 <!--SIGN UP-->
	{% block content2 %}
 <h1>LOG ON</h1>
	{% endblock %}
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="static/img/avtar.png" />
	</div>
			<form>
					<input type="text" class="text" value="username" name="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" >
					<div class="key">
					<input type="password" value="password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">

						</div>
			</form>
	<div class="signin">
		{% block content1 %}
		<input type="submit" value="Login" >
		{% endblock %}
	</div>
</div>
</body>
</html>